/* orniton서체 코드 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbitron:wght@400..900&display=swap');

/* 노토산스 서체 코드*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* 인덱스 페이지 */
*{
    margin: 0;
    padding: 0;
}
.video_wrap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}
video{
    min-width: 100%;
    min-height: 100vh;
    display: block;
}
.wrap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.bt00{
    display: flex;
    justify-content: center;
    padding-top: 717px;
}
.bt00 > a > img{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

/* 폰트정리 */
.font01{
    font-family: "Orbitron", sans-serif;
}
.font02{
    font-family: "Noto Sans KR", sans-serif;
}
/* 서브페이지 1 */
.bg01{
    position: absolute;
    margin-left: 0px;
    z-index: 1;
}
.txt_01{
    position: absolute;
    left: 31px;
    top: 90px;
    z-index: 10;
    font-size: 34px;
    font-weight: 800;
}
.txt_02{
    position: absolute;
    left: 31px;
    top: 147px;
    z-index: 10;
    font-size: 25px;
    font-weight: 600;
    color: #6B6B6B;
}
.txt_03{
    position: absolute;
    left: 104px;
    top: 147px;
    z-index: 10;
    font-size: 25px;
    color: #6B6B6B;
}
.txt_04{
    position: absolute;
    left: 31px;
    top: 180px;
    z-index: 10;
    font-size: 25px;
    color: #6B6B6B;
}
.txt_05{
    position: absolute;
    left: 263px;
    top: 383px;
    z-index: 10;
    font-size: 28px;
    color: #ffff;
    font-weight: 600;
}
.txt_06{
    position: absolute;
    left: 345px;
    top: 383px;
    font-weight: 400;
    z-index: 10;
    font-size: 28px;
    color: #ffff;
}
.txt_07{
    position: absolute;
    left: 31px;
    top: 757px;
    font-weight: 400;
    z-index: 10;
    font-size: 18px;
    color: #757575;
}
.txt_08{
    position: absolute;
    left: 31px;
    top: 784px;
    font-weight: 500;
    z-index: 10;
    font-size: 28px;
    color: #000000;
}
.txt_09{
    position: absolute;
    left: 180px;
    top: 789px;
    font-weight: 500;
    z-index: 10;
    font-size: 22px;
    color: #000000;
}
.txt_10{
    position: absolute;
    left: 31px;
    top: 828px;
    font-weight: 200;
    z-index: 10;
    font-size: 12px;
    color: #000000;
}

/* 서브페이지 2 */
.bg02{
    position: absolute;
    margin-left: 0px;
    z-index: 1;
    padding-top: 880px;
}
.bg02_01{
    position: absolute;
    left: 0px;
    top: 1100px;
    z-index: 10;
}
.txt01{
    position: absolute;
    left: 31px;
    top: 950px;
    z-index: 10;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.txt02{
    position: absolute;
    left: 31px;
    top: 999px;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.txt03{
    position: absolute;
    left: 31px;
    top: 1026px;
    z-index: 10;
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
}
.txt04{
    position: absolute;
    left: 130px;
    top: 1720px;
    z-index: 10;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
    text-align: right;
    /* 오른쪽 정렬 해야 됨 */
}
.txt05{
    position: absolute;
    left: 80px;
    top: 1772px;
    z-index: 10;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
}
.txt06{
    position: absolute;
    left: 186px;
    top: 1772px;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.txt07{
    position: absolute;
    left: 345px;
    top: 1772px;
    z-index: 10;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
}
/* 서브페이지3 */
.bg03{
    position: absolute;
    z-index: 1;
    top: 1834px;
}
.txt1{
    position: absolute;
    left: 141px;
    top: 2120px;
    z-index: 10;
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
}
.txt2{
    position: absolute;
    left: 76px;
    top: 2173px;
    z-index: 10;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
.txt3{
    position: absolute;
    left: 41px;
    top: 2273px;
    z-index: 10;
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
}
/* 서브페이지4 */
.bg04{
    position: absolute;
    z-index: 1;
    top: 2629px;
}
.bg04_01{
    position: absolute;
    left: 0;
    top: 2793px;
    z-index: 10;
}
.bg04_02{
    position: absolute;
    left: 51px;
    top: 3193px;
    z-index: 10;
}
.bg04_03{
    position: absolute;
    left: 0;
    top: 3576px;
    z-index: 10;
}
.txt001{
    position: absolute;
    left: 183px;
    top: 26px;
    z-index: 11;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}
.txt002{
    position: absolute;
    left: 54px;
    top: 49px;
    z-index: 11;
    font-size: 22px;
    font-weight: 800;
    color: #000000;
    text-align: center;
}
.txt003{
    position: absolute;
    left: 80px;
    top: 410px;
    z-index: 11;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.txt004{
    position: absolute;
    left: 20px;
    top: 451px;
    z-index: 11;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: right;
}
.txt005{
    position: absolute;
    left: 59px;
    top: 807px;
    z-index: 11;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.txt006{
    position: absolute;
    left: 59px;
    top: 846px;
    z-index: 11;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}
.txt007{
    position: absolute;
    left: 320px;
    top: 1186px;
    z-index: 11;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.txt008{
    position: absolute;
    left: 63px;
    top: 1225px;
    z-index: 11;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: right;
}
.bg05{
    position: absolute;
    left: 0;
    z-index: 1;
}
.txt0001{
    position: absolute;
    left: 319px;
    top: 114px;
    z-index: 10;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
}
.txt0002{
    position: absolute;
    left: 316px;
    top: 138px;
    z-index: 10;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
}
.txt0003{
    position: absolute;
    left: 341px;
    top: 161px;
    z-index: 10;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
}
